<form id="show-me">
    I want to watch <span class="article">a</span>
    <ul class="choice type">
        <li class="init">&nbsp;&nbsp;&nbsp;&nbsp;</li>
        {% for type in types %}
            <li class="data-index={{ forloop.counter0 }}">{{ type }}</li>
        {% endfor %}
    </ul>.
    <div class="choose-genre">
        I'm interested in <input type="text" class="choice genre">.
        <div class="span3 offset9">
            <input type="submit" class="btn" value="show me" />
        </div>
    </div>
</form>