{% extends 'site_base.html' %}
{% load thumbor_url %}

{% block top_container %}
<div class="container">
    <div class="row watch-row">
        <div class="span9 text">
            Let's watch something.
        </div>
        <div class="span3">
            <a class="btn" id="recommendation-btn" href="#">get a recommendation</a>
        </div>
    </div>
    <div class="row hide" id="recommendation-row">
        <hr>
        <div id="recommendation-container">

            {% include 'modal/recommendation_modal.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <hr>
    <div class="movie-shelf">
        {% for movie in movies %}
            <div class="movie-block" title="{{ movie.name }}" data-content="{{ movie.description }}">
                <img src="{{ movie.image }}" width="168px" height="249px" alt="{{ movie.name }}">
            </div>
        {% endfor %}
    </div>
    {% comment %}
    <div class="span2">
        <ul class="nav nav-list nav-inverse">
            <li class="nav-header">Filter by:</li>
            {% for genre in genres %}
            <li><a href="/?genre={{genre.slug}}" class="filter-by filter-genre">{{ genre.name }}</a></li>
            {% endfor %}
            <li class="divider"></li>
        </ul>
    </div>
    {% endcomment %}
</div>
{% endblock %}

{% block scripts %}
<script>
jQuery(function($){

    var doc = $(document);

    $('.movie-block').popover({
        'trigger': 'hover',
    });

    doc.on('click', '#recommendation-btn', function(){
        $('#recommendation-row').show('slow');
    });

    doc.on('click', 'ul.choice .init', function(){
        $(this).closest("ul").children('li').toggle();
    })

    var allOptions = $('ul.choice').children('li');
    doc.on("click", "ul.choice li:not(.init)", function() {
        allOptions.removeClass('selected');
        $(this).addClass('selected');
        var text = $(this).html();
        $("ul").children('.init').html(text);
        allOptions.toggle();
        var vowel = new RegExp('^[aeiou].*$')
        if (vowel.test(text) === true) {
            $('.article').html('');
        } else {
            $('.article').html('a');
        }
    });

    var t = new $.TextboxList('input.genre', {
        bitsOptions: {
            editable: {
                addKeys: [188]
            }
        },
        unique: true,
        plugins: {
            autocomplete: {
                minLength: 2,
                queryRemote: true,
                remote: {url: '/ajax/autocomplete/'}
            }
        }
    });

    doc.on('submit', '#show-me', function(e) {
        var genres = $('.choose-genre', this)
                        .find('.textboxlist-bit-box')
                        .text();
        $.ajax({
            type: 'GET',
            url: '/',
            data: {'genre': genres},
            success: function (data) {
                debugger;
            },
            error: function(data) {
                debugger;
            }
        });
    });
});
</script>
{% endblock %}