{% load compress %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Rateflix</title>

    <!-- styles -->
    <link rel="stylesheet" href="/media/css/bootstrap.css">
    <link rel="stylesheet" href="/media/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/media/css/screen.css">
    <link rel="stylesheet" href="/media/css/textboxlist.css">

    <!-- fonts -->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700'>
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Raleway:400,200'>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    {% block extra_head %} {% endblock %}
  </head>

  <body style="{% block body_classes %}{% endblock %}">

    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Rateflix</a>
          {% block nav_bar_content %}
          {% endblock %}
        </div>
      </div>
    </div>
    {% block top_container %}
    {% endblock %}
    {% block main_container %}
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    {% endblock %}
    {% block footer %}
    <div class="container">
      <hr>
      <footer>
        <p>&copy; Rateflix 2013</p>
      </footer>
    </div>
    {% endblock %}

    <script src="/media/js/bootstrap.min.js"></script>
    <script src="/media/js/growinglist.js"></script>
    <script src="/media/js/textboxlist.js"></script>
    <script src="/media/js/textboxlist.autocomplete.js"></script>
    <script src="/media/js/textboxlist.autocomplete.binary.js"></script>
    {% block scripts %}
    {% endblock %}

  </body>
</html>